#avatarSlika {
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-bottom: 13px;
    margin-left: 45px;
    border-style: outset
}

#strelice {
    background-size: cover;
    height: 20px;
    width: 20px;
    //  border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-bottom: 13px;
    margin-left: 45px;
    //border-style:outset
}

#filter {
    padding-bottom: 30px;
    margin-right: 50px;
}

#centarForma {
    margin: auto;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
}

.ceoDiv {
    width: 85%;
}

.mat-select-panel {
    background: #fff;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

table {
    width: 100%;
    height: 700px;
    ;
}

#naslov {
    font-size: 0.4rem;
    color: rgb(70, 164, 219);
    // background-color: rgb(70, 164, 219);


}


mat-chip {
    color: white;
    font-size: 15px;
    background-color: #00ACE7;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}

mat-icon {
    color: rgba(0, 172, 231, 255);
}


.btn-primary {
    font-size: 12px;
}

#benName {
    margin-top: 10px;
    font-size: 20px;
    color: #00ACE7;
}

#dateName {
    font-size: 15px;
    color: rgba(114, 114, 114, 0.527);
}

#and {
    // width: 20%;
    size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#categ {
    //  width: 5%;
    margin-top: 11px;
    background-color: gray !important;

}

#categ1 {
    margin-top: 11px;
}

#balans {
    // width: 15%;
    color: #00ACE7;
    font-size: 30px;
}

#btnSplit {
    font-size: 15px;
}

#ctz {
    border-radius: 3px;
    margin-bottom: 10px;
    white-space: nowrap;

}

#vel {
    font-size: 16px;
}

#desniSideIcons {
    background-color: #00ace7;
    border-radius: 12%;
}



.mat-form-field {
    width: 140px !important;
    height: 20px !important;
    border-style: double;
}

.mat-select {
    font-size: 20px !important;
    height: 20px !important;
    width: 140px !important;

}

.example-container {
    width: 250px;
    height: 820px;
    background-color: #ecece4;


}



mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}