#avatarSlika {
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-bottom: 13px;
    margin-left: 45px;
    border-style: outset
}

// BOJA ZA CHECK BOX
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #00ACE7 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #00ACE7;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: darkblue !important;
}

#strelice {
    background-size: cover;
    height: 20px;
    width: 20px;
    //  border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-bottom: 13px;
    margin-left: 45px;
    //border-style:outset
}

#centarForma {
    margin: auto;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
}

.mat-select-panel {
    background: #fff;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

table {
    width: 100%;
    width: 1500px;
    height: 700px;
    ;
}

#naslov {
    font-size: 1rem;
    color: #00ACE7;
    // background-color: rgb(70, 164, 219);


}

mat-chip {
    color: white;
    font-size: 20px;
    background-color: #0A8AD2 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}

mat-icon {
    color: #00ACE7;
}


.btn-primary {
    font-size: 12px;
}

#benName {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(37, 164, 196);
}

#dateName {
    font-size: 15px;
    color: rgba(114, 114, 114, 0.527);
}

#c {
    // width: 20%;
    size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#btnKategorizuj {
    //  width: 5%;
    margin-top: 11px;
    margin-left: 260px;
    background-color: #00ACE7;
    color: #fff;

}

#categ {

    margin-top: 11px;
    background-color: gray !important;

}

#category {
    margin-top: 11px;
}

#balans {
    // width: 15%;
    color: #00ACE7;
    ;
    font-size: 15px;
}

#btnSplit {
    font-size: 15px;
    background-color: #00ACE7;
    color: #fff;
    border-radius: 12px;
}



#vel {
    font-size: 16px;
}




.mat-form-field {
    width: 240px !important;
    height: 20px !important;

}

.mat-select {
    font-size: 20px !important;
    height: 20px !important;
    width: 140px !important;

}