mat-toolbar.mat-primary {
    background: #00ACE7;
    color: #fff;
}

.mat-accent {
    background-color: #95d7ee;
    color: white;
}

mat-sidenav-container {
    height: calc(205vh - 115vh);
}

mat-sidenav {
    width: 220px;
    background-color: #FFFFFF;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: small;

    mat-icon {
        margin-right: 18px;
        color: #00ACE7;
    }

}



.telenor-logo {
    width: 180px;
    height: 120px;

}